@import url('@fontsource/raleway/300.css');
@import url('@fontsource/raleway/300-italic.css');
@import url('@fontsource/raleway/400.css');
@import url('@fontsource/raleway/400-italic.css');
@import url('@fontsource/raleway/500.css');
@import url('@fontsource/raleway/500-italic.css');
@import url('@fontsource/raleway/600.css');
@import url('@fontsource/raleway/600-italic.css');
@import url('@fontsource/raleway/700.css');
@import url('@fontsource/raleway/700-italic.css');
@import url('@fontsource/raleway/800.css');
@import url('@fontsource/raleway/800-italic.css');
@import url('@fontsource-variable/caveat');

@font-face {
  font-family: 'Fallback';
  src: local(Arial);
  size-adjust: 103%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: normal;
}

* {
  font-family: 'Raleway', 'Fallback', sans-serif;
  font-feature-settings: 'lnum';
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}
